[Unit]
Description=Check if User has been Idle

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/bin/bash -c '/usr/local/bin/idlelock/idlelock.sh'

[Install]
WantedBy=default.target
